/* ==========================================================================
   #LAYOUT FULL CENTER
   ========================================================================== */

.layout-full-center {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100vh;
}

  .layout-full-center__form {
    flex-basis: 70%;
    width: 100%;
    padding: $appname-global-spacing-unit;

    @include mq($from: mobile) {
      max-width: 350px;
    }
  }
  
  .layout-full-center__img {
    flex-grow: 2;

    @include mq($from: mobile) {
      align-self: stretch;
      background: $color-primary center / cover no-repeat url("../../assets/images/login-carousel.jpg");
      display: block;
    }
  }
