/* ==========================================================================
   #LAYOUT MAIN
   ========================================================================== */

// .layout-main{
// }

  .layout-main__sidebar {
    border-right: 1px solid $color-secondary;
    bottom: 0;
    background: #fff;
    position: fixed;
    overflow-y: auto;
    top: 0;
    transition: $global-transition;
    transform: translateX(-250px);
    width: 250px;
    z-index: 90;

    .is-open & {
      transform: translateX(0px);
    }
    
    @include mq($from: tablet) {
      transform: translateX(0px);
    }
  }
  
  .layout-main__main {
    flex-grow: 2;
    transition: $global-transition;
    
    // .is-open & {
    //   margin-left: 250px;
    // }
    
    @include mq($from: tablet) {
      margin-left: 250px;
    }
  }
  
  // .layout-main__header {
    //   background-color: #ccc;
    // }
    
    .layout-main__overlay {
      display: none;
      .is-open & {
        display: block;
        content: '';
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: #0000006e;
        width: 100%;
        height: 100%;
      }
    }
    