/* ==========================================================================
   # USER TABLE
   ========================================================================== */


.user-table {
  border-collapse: collapse;

  thead th {
    border-bottom-width: 2px;
    border-bottom-color: darken($color-secondary, 10%);
    color: $color-primary;
    font-weight: 600;
    text-align: left;
    text-transform: uppercase;
    @include appname-font-size(13px);
  }

  th,
  td {
    border: 0;
    padding: $appname-global-spacing-unit-small;
    // padding: $appname-global-spacing-unit $appname-global-spacing-unit-small * 1.5;
    border-bottom: 1px solid $color-secondary;
    height: 80px;
  }


  // Zebra-striping

  tbody tr:nth-of-type(even) {
    background-color: $color-secondary;
  }


  // Hover effect
  //
  // Placed here since it has to come after the zebra striping

  tbody tr {
    &:hover {
      color: #fff;
      background-color: $color-primary;
    }
  }


  .user-table__btn-td {
    padding: 0;
    width: 80px;
  }


  .user-table__btn {
    align-items: center;    
    display: flex;
    height: 80px;  
    justify-content: center;
    width: 80px;  
  
    &:hover,
    &:focus {
      background-color: #fff;
      color: $color-primary;
    }
  }
}












