.login-form__input {
  label {
    color: $color-tertiary;
    display: block;
    @include appname-font-size(14px);
    font-weight: 500;
  }
  
  input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid $color-gray;
    color: $color-primary;
    display: block;
    font-weight: 500;
    width: 100%;
  }
}

.login-form--blue {
  .login-form__input {
    label {
      color: $color-primary;
    }
    
    input {
      color: $color-tertiary;
    }
  }
}
