.o-level {
  align-items: center;
  display: flex;
  justify-content: space-between;
  min-height: 50px;
  padding-right: $appname-global-spacing-unit;
  padding-left: $appname-global-spacing-unit;
}

.o-level__left {
  justify-content: flex-start;
}

.o-level__right {
  justify-content: flex-end;
}
