/* ==========================================================================
   #WRAPPER
   ========================================================================== */

/**
 * Page-level constraining and wrapping elements.
 */

 $appname-wrapper-width: 1200px !default;

 @if (type-of($appname-wrapper-width) != number) {
   @error "`#{$appname-wrapper-width}` needs to be a number.";
 }
 
 .o-wrapper {
   padding-right: $appname-global-spacing-unit;
   padding-left:  $appname-global-spacing-unit;
   max-width: $appname-wrapper-width;
 }
