/* ==========================================================================
   #BUTTONS
   ========================================================================== */


 .btn {
  display: inline-block;
  vertical-align: middle;
  font: inherit;
  text-align: center;
  margin: 0;
  cursor: pointer;
  padding: $appname-global-spacing-unit-small $appname-global-spacing-unit;
  transition: $global-transition;
  border: 0;
}





/* Style variants
   ========================================================================== */

.btn--primary {
  background-color: $color-primary;

  &,
  &:hover,
  &:active,
  &:focus {
    text-decoration: none; /* [4] */
    color: #fff;
  }

  &:hover,
  &:focus {
    background-color: darken($color-primary, 20%);
  }

  &:active {
    background-color: darken($color-primary, 30%);
  }

  &[disabled] {
    background-color: lighten($color-primary, 20%);
    cursor: default;
  }
}


.btn--secondary {
  background-color: #2f4054;

  &,
  &:hover,
  &:active,
  &:focus {
    text-decoration: none;
    color: #fff;
  }

  &:hover,
  &:focus {
    background-color: #1d2733;
  }

}
