/* ==========================================================================
   #BUTTON-MENU
   ========================================================================== */

/**
 * Button to use in the sidebar menu.
 */


.button-menu {
  display: table;
  @include appname-font-size(16px);
  font-weight: 500;
  padding:
    $appname-global-spacing-unit
    $appname-global-spacing-unit-small
    $appname-global-spacing-unit
    $appname-global-spacing-unit;
  text-decoration: none;
  transition: box-shadow 200ms ease, color 200ms ease, background-color 200ms ease;
  width: 100%;
  @include appname-font-size(14px);
  
  &:hover,
  &:focus {
    background-color: $side-menu-item;
    box-shadow: inset 3px 0 0 $button-menu-bar;
    color: $button-menu-active;
    text-decoration: none;
  }
  
  &.is-active {
    box-shadow: inset 3px 0 0 $button-menu-bar;
    color: $button-menu-active;
  }
}


  .button-menu__icon,
  .button-menu__text {
    display: table-cell;
    vertical-align: middle;
  }


  .button-menu__icon {
    padding-right: $appname-global-spacing-unit;
    width: 1px;
  }

  
  .button-menu__text {
    width: auto;

    &,
    > :last-child {
      margin-bottom: 0;
    }
  }
