/* ==========================================================================
   #SIDE-MENU
   ========================================================================== */


.side-menu__item {
  border-bottom: 1px solid $side-menu-border;

  &:first-child {
    border-top: 1px solid $side-menu-border;
  }
}
