///* ========================================================================
//   #CORE
//   ======================================================================== */

// This core file sets up appnamecss’ most important setup variables. They
// underpin a lot of how the framework functions and should be modified and
// preconfigured with caution.



// Baseline grid lines height.
// Every spacing metric should be based on this.

$appname-global-baseline:     6px !default;



// How many grid lines should our spacing unit variants span?
// Each value should be an unitless integer.

$appname-global-spacing-unit-factor-tiny:   1 !default;   // 6px
$appname-global-spacing-unit-factor-small:  2 !default;   // 12px
$appname-global-spacing-unit-factor:        4 !default;   // 24px
$appname-global-spacing-unit-factor-large:  8 !default;   // 48px
$appname-global-spacing-unit-factor-huge:   16 !default;  // 96px



// Spacing values are determined based on your project’s global baseline grid.
// It is not recommended that you modify these following variables
// (it can break your vertical rhythm), but if you need to, you can.

$appname-global-spacing-unit:       $appname-global-baseline * $appname-global-spacing-unit-factor !default;
$appname-global-spacing-unit-tiny:  $appname-global-baseline * $appname-global-spacing-unit-factor-tiny !default;
$appname-global-spacing-unit-small: $appname-global-baseline * $appname-global-spacing-unit-factor-small !default;
$appname-global-spacing-unit-large: $appname-global-baseline * $appname-global-spacing-unit-factor-large !default;
$appname-global-spacing-unit-huge:  $appname-global-baseline * $appname-global-spacing-unit-factor-huge !default;



// Base typographical styles.

$appname-global-font-size:    16px !default;
$appname-global-line-height:  $appname-global-spacing-unit !default;





// Check that the chosen font rules are pixel numbers.

@each $_appname-font-globals in
      $appname-global-font-size
      $appname-global-line-height {

  @if (type-of($_appname-font-globals) == number) {

    @if (unit($_appname-font-globals) != "px") {
      @error "`#{$_appname-font-globals}` needs to be a pixel value.";
    }

  } @else {
    @error "`#{$_appname-font-globals}` needs to be a number.";
  }

}



// Check that the chosen size factors are unitless, integer numbers.

@each $_appname-spacing-unit in
      $appname-global-spacing-unit-factor-tiny
      $appname-global-spacing-unit-factor-small
      $appname-global-spacing-unit-factor-large
      $appname-global-spacing-unit-factor-huge {

  @if (type-of($_appname-spacing-unit) == number) {

    @if (unitless($_appname-spacing-unit) == false) {
      @error "`#{$_appname-spacing-unit}` needs to be unitless.";
    }

    @if ($_appname-spacing-unit != ceil($_appname-spacing-unit)) {
      @error "`#{$_appname-spacing-unit}` needs to be an integer.";
    }

  } @else {
    @error "`#{$_appname-spacing-unit}` needs to be a number.";
  }

}
