///* ========================================================================
//   #GLOBAL
//   ======================================================================== */

// The global settings file contains any project-wide variables; things that
// need to be made available to the entire codebase.



// Colors
$concrete: #F2F2F2;
$color-gray: #cdcdcd;

$color-primary: #2096f3;
$color-secondary: #f2f6fa;
$color-tertiary: #223342;

$link-color: $color-tertiary;
$link-color-hover: lighten($link-color, 20%);

$button-menu-bar: $color-primary;
$button-menu-active: $color-primary;

$side-menu-item: $color-secondary;
$side-menu-border: $color-secondary;


// Standardise some UI treatments.

$global-radius: 3px !default;
$global-transition: all 300ms ease-in-out !default;
$global-border-unit: 1px;


// Font family
$font-family-base: Montserrat, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
