/* ==========================================================================
   #LINKS
   ========================================================================== */

a,
.link {
  color: $link-color;
  text-decoration: none;

  &:hover,
  &:focus {
    color: $link-color-hover;
    text-decoration: underline;
  }
}
