/* ==========================================================================
   #TABLES
   ========================================================================== */

table {
  width: 100%;

  @include mq($until: desktop) {
    display: block;
    overflow-x: auto;
  }
}
