/* ==========================================================================
   #SPACINGS
   ========================================================================== */

/**
 * Utility classes to put specific spacing values onto elements. The below loop
 * will generate us a suite of classes like:
 *
 *   .u-margin-top {}
 *   .u-padding-left-large {}
 *   .u-margin-right-small {}
 *   .u-padding {}
 *   .u-padding-right-none {}
 *   .u-padding-horizontal {}
 *   .u-padding-vertical-small {}
 */

 $appname-spacing-directions: (
  null: null,
  "t": "-top",
  "r": "-right",
  "b": "-bottom",
  "l": "-left",
  "h": "-left" "-right",
  "v": "-top" "-bottom",
) !default;

$appname-spacing-properties: (
  "p": "padding",
  "m": "margin",
) !default;

$appname-spacing-sizes: (
  null: $appname-global-spacing-unit,
  "-tiny": $appname-global-spacing-unit-tiny,
  "-small": $appname-global-spacing-unit-small,
  "-large": $appname-global-spacing-unit-large,
  "-huge": $appname-global-spacing-unit-huge,
  "-none": 0
) !default;

@each $property-namespace, $property in $appname-spacing-properties {

  @each $direction-namespace, $direction-rules in $appname-spacing-directions {

    @each $size-namespace, $size in $appname-spacing-sizes {

      .u-#{$property-namespace}#{$direction-namespace}#{$size-namespace} {

        @each $direction in $direction-rules {
          #{$property}#{$direction}: $size !important;
        }

      }

    }

  }

}
