$appname-border-directions: (
    "b": "-bottom",
  ) !default;


  $appname-border-sizes: (
    null: $global-border-unit,
    "-none": 0
  ) !default;
  
  
    @each $direction-namespace, $direction-rules in $appname-border-directions {

        @each $size-namespace, $size in $appname-border-sizes {

        .u-b#{$direction-namespace}#{$size-namespace} {

            @each $direction in $direction-rules {
            border#{$direction}: $size solid $color-secondary !important;
            }

        }

        }

    }
